.container
{
width: auto; padding-left:0px; padding-top:10px;padding-bottom:10px;padding-right:10px;font-family: helvetica, san-serif; font-size: 13px; line-height: 18px;  text-decoration: none;background-color: transparent;border-left: 0px solid transparent
}
.imglink
{
width: 20px; vertical-align: bottom; padding-right: 1px; padding-top: 2px; padding-bottom: 2px; display: inline-block;
}
